/* selecting header */
header {
    background-color: green;
}

footer {
    background-color: green;
}
.Aiden {
    color:gold;
}
ul.special_bullet li {
    text-indent:-15px;
    padding-left:15px;
    }
body {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    font-size: larger;
}
#MyImage {
    box-shadow: 0px 0px 2px 1px black;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}


a {
    text-decoration: none;
}

.module:nth-child(4n) {
        margin-right: 0;
      }
nav {
    background-color: green;
}

/* LVHA */